/* Primitivos */ 

:root {
    --lighter-neutral: #FAF7F5;
    --light-neutral: #D9D9D9;
    --dark-neutral: #1A071B;
    --primary: #FEBE4F;
    --secondary: #FABEC0;
    --terciary: #EB5A3D;
}

.light-neutral {
    background: var(--light-neutral, #FAF7F5);
    color: var(--dark-neutral);
}

.dark-neutral {
    background: var(--dark-neutral, #1A071B);
    color: var(--lighter-neutral);
}

.primary {
    background: var(--primary, #FEBE4F);
    color: var(--dark-neutral);
}

.secondary {
    background: var(--secondary, #FABEC0);
    color: var(--dark-neutral);
}

.terciary {
    background: var(--terciary, #EB5A3D);
    color: var(--lighter-neutral);
}

.source-sans-3-400 {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.grand-hotel-regular {
    font-family: "Grand Hotel", serif;
    font-weight: 400;
    font-style: normal;
}
  

/* Tags globais */

body {
    background-color: var(--lighter-neutral);
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

/* Header */

.main-header {
    display: flex;
    
}

/* Navegação */

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 8px 12px;
    flex-wrap: wrap;
}

.nav-itens {
    margin: 0;
    padding: 0;
}

.btn-nav {
    display: inline-block;
    border-radius: 6.562px;
    border: 2px solid var(--dark-neutral);
    box-shadow: 4px 4px 0px 0px var(--dark-neutral);
    padding: 8px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn-nav:hover {
    box-shadow: 0px 0px 0px var(--dark-neutral);
    transform: translateY(2px);
}


.container {
    display: flex;
    justify-content: center;
}

.container img {
    max-height: 100vh;
}

/* Título */

.main-title {
    font-size: 4rem;
    height: 4rem;
}

/* Breakpoints */

@media only screen and (min-width: 1200px) {
    .main-header {
        margin: 4rem 160px;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 600px) {
    .main-header {
        margin: 4rem 160px;
        align-items: center;
        justify-content: space-between;
    }
}

