/* Primitivos */

:root {
  --lighter-neutral: #faf7f5;
  --light-neutral: #d9d9d9;
  --dark-neutral: #1a071b;
  --primary: #febe4f;
  --secondary: #fabec0;
  --secondary-text: #c9708b;
  --terciary: #eb5a3d;
}

.light-neutral {
  background: var(--light-neutral, #faf7f5);
  color: var(--dark-neutral);
}

.dark-neutral {
  background: var(--dark-neutral, #1a071b);
  color: var(--lighter-neutral);
}

.primary {
  background: var(--primary, #febe4f);
  color: var(--dark-neutral);
}

.secondary {
  background: var(--secondary, #fabec0);
  color: var(--dark-neutral);
}

.terciary {
  background: var(--terciary, #eb5a3d);
  color: var(--lighter-neutral);
}

.source-sans-3-400 {
  font-family: 'Source Sans 3', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.grand-hotel-regular {
  font-family: 'Grand Hotel', serif;
  font-weight: 400;
  font-style: normal;
}

/* Tags globais */

body {
  background-color: var(--lighter-neutral);
  font-family: 'Source Sans 3', serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-text);
  font-weight: bold;
}

a:hover {
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* Navegação */

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 8px 12px;
  flex-wrap: wrap;
}

.nav-itens {
  margin: 0;
  padding: 0;
}

.btn-nav {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid var(--dark-neutral);
  box-shadow: 4px 4px 0px 0px var(--dark-neutral);
  padding: 8px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn-nav:hover, .portfolio-image:hover {
  box-shadow: 0px 0px 0px var(--dark-neutral);
  transform: translateY(2px);
}

.section-link {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
}

/* Título */

.title {
  font-size: 4rem;
  height: 4rem;
}

/* Conteúdo */

.portfolio,
.blog,
.newsletter {
  margin: 1rem 0;
}

.blog-cards,
.newsletter-cards {
  margin: 0.5rem 0;
}

.portfolio-image {
  background: var(--dark-neutral);
  border: 2px solid var(--dark-neutral);
  border-radius: 8px;
  box-shadow: 4px 4px 0px 0px var(--dark-neutral);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  height: auto;
  width: calc(100% - 0.5rem);
  overflow: hidden;
  object-fit: cover;
}

/* Cards */

.vertical-card,
.horizontal-card {
  background: var(--lighter-neutral);
  border: 2px solid var(--dark-neutral);
  border-radius: 8px;
  box-shadow: 4px 4px 0px 0px var(--dark-neutral);
}

.horizontal-card {
  display: flex;
  flex-direction: row;
}

.vertical-card-images {
  background: var(--secondary-neutral);
  border-bottom: 2px solid var(--dark-neutral);
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.horizontal-card-images {
  background: var(--secondary-neutral);
  border-right: 2px solid var(--dark-neutral);
  border-radius: 8px 0px 0px 8px;
  width: 50%;
}

.card-body p {
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.vertical-card .card-body p {
  -webkit-line-clamp: 2;
}

.horizontal-card .card-body p {
  -webkit-line-clamp: 5;
}

.card-body {
  padding: 0.5rem;
}

.horizontal-card {
}

/* Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main,
  .header {
    margin: 1rem;
  }

  .portfolio-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .vertical-card {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main,
  .header {
    margin: 1rem;
  }

  .portfolio-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .newsletter-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main,
  .header {
    margin: 2rem 6rem;
  }

  .blog-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 100%;
  }

  .portfolio-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .portfolio-images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .newsletter-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
  }

  .header {
    margin: 2rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .portfolio-images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    width: 100%;
  }

  .blog-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    width: 100%;
  }
}
